In [0]:
from pyspark.sql.functions import when
data = [(1,'maheer','M',2000,'dev'),(2,'srjan','M',3000,'IT'),(3,'maheer','F',4000,'HR'),(3,'maheer','F',4000,'HR'),(4,'kalyan','M',4000,'HR')]
schema = ['id','name','gender','salary','dep']
df=spark.createDataFrame(data,schema)
df.show()
#df1 = df.select(df.id,\
#                 df.name,\
#                 when(df.gender=='M','male')\
#                 .when(df.gender=='F','female')\
#                 .otherwise('unknown')\
#                 .alias('gender'))
# df1.display()

+---+------+------+------+---+
| id|  name|gender|salary|dep|
+---+------+------+------+---+
|  1|maheer|     M|  2000|dev|
|  2| srjan|     M|  3000| IT|
|  3|maheer|     F|  4000| HR|
|  3|maheer|     F|  4000| HR|
|  4|kalyan|     M|  4000| HR|
+---+------+------+------+---+

In [0]:
rows = [(1,'maheer','300'),(2,'rafi','200')]
column = ['id','name','salary']

dafa = spark.createDataFrame(rows,column)
dafa.show()
dafa.printSchema()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|maheer|   300|
|  2|  rafi|   200|
+---+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [0]:
from pyspark.sql.functions import col
dafa=dafa.withColumn(colName='salary',col=col('salary').cast('Integer')) # here the datatype changed from the string to integer using withColumn


dafa.withColumn("CopiedColumn",col("salary")* -1).show()
# +---+------+------+------------+
# | id|  name|salary|CopiedColumn|
# +---+------+------+------------+
# |  1|maheer|   300|        -300|
# |  2|  rafi|   200|        -200|
# +---+------+------+------------+

dafa.withColumnRenamed('salary','salary_amount').show()

+---+------+------+------------+
| id|  name|salary|CopiedColumn|
+---+------+------+------------+
|  1|maheer|   300|        -300|
|  2|  rafi|   200|        -200|
+---+------+------+------------+

+---+------+-------------+
| id|  name|salary_amount|
+---+------+-------------+
|  1|maheer|          300|
|  2|  rafi|          200|
+---+------+-------------+

In [0]:
from pyspark.sql.types import StringType,StructField,StructType,IntegerType
row = [(1,'maheer',300),(2,'rafi',200)]

schem = StructType([\
                   StructField(name = 'id',dataType=IntegerType()),\
                   StructField(name = 'name',dataType=StringType()),\
                   StructField(name = 'salary',dataType=IntegerType())])
#these are used to define schema to DF and create complex columns like nested struct array and map columns
#StructType is a collection of StructField


struct = spark.createDataFrame(row,schem)
struct.show()
struct.printSchema()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|maheer|   300|
|  2|  rafi|   200|
+---+------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [0]:
from pyspark.sql.functions import explode,col,array

rows = [(1,'maheer',[300,3000]),(2,'rafi',[200,2000])]
schema = StructType([\
                    StructField('id',IntegerType()),\
                    StructField('name',StringType()),\
                    StructField('salary',ArrayType(IntegerType()))])
aray = spark.createDataFrame(rows,schema)

aray.show()

aray.printSchema()
# we can use indexing as well in arrays to choose a specific index for output
aray.withColumn('bonus',aray.salary[0]).withColumn('salary_',aray.salary[1]).show()

#explode, split , array , array_contains
exp = spark.createDataFrame(rows,schema)
exp.withColumn('EXPLODED',explode(exp.salary)).show()
exp.show()
#split
rowss = [(1,'maheer','300,3000'),(2,'rafi','200,2000')]
Split = spark.createDataFrame(rowss,column)

Split=Split.withColumn('sal',split(col('salary'),','))
Split.show()
Splitted =Split.withColumn('bonus',Split.sal[0]).withColumn('salary_',Split.sal[1])
Splitted.show()
#array
array = Splitted.withColumn('combinedsalary',array(col('bonus'),col('salary_')))
array.show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-3315173971172554>:7
      1 from pyspark.sql.functions import explode,col,array
      3 rows = [(1,'maheer',[300,3000]),(2,'rafi',[200,2000])]
      4 schema = StructType([\
      5                     StructField('id',IntegerType()),\
      6                     StructField('name',StringType()),\
----> 7                     StructField('salary',ArrayType(IntegerType()))])
      8 aray = spark.createDataFrame(rows,schema)
     10 aray.show()

NameError: name 'ArrayType' is not defined

In [0]:
from pyspark.sql.types  import MapType
r = [('rafi',{'hair':'black','eye':'brown'}),('wafa',{'hair':'black','eye':'blue'})]
# s = ['name','properties']
s = StructType
maptype = spark.createDataFrame(r,s)
maptype.show()

get = maptype.withColumn('eye',maptype.properties.getItem('eye')).show()

In [0]:
from pyspark.sql import Row
row1 = Row(name='rafi',sal=2000)
# print(row)
row2 = Row(name='rasu',sal=3000)
dat =[row1,row2]
roes = spark.createDataFrame(dat)
roes.show()

# the simplest way to crreate  a colum class is by lit()
from pyspark.sql.functions import lit
# col1 =lit('abcd')
# print(type(col1))
dt = [('name','genmder',22222)]
sc = ['name','gender','sal']
dff = spark.createDataFrame(dt,sc)
dff1 = dff.withColumn('newcol',lit('newcolvalue'))
dff1.show()



# select

dff.select(dff1.gender).show()
# we can also use to mention the column name like col('gender') or dff['gender']

In [0]:
from pyspark.sql.functions import when
dataa = [(1,'maheer','M',2000,'dev'),(2,'srjan','M',3000,'IT'),(3,'maheer','F',4000,'HR'),(3,'maheer','T',4000,'Admin'),(4,'kalyan','M',4000,'HR')]
schemaa = ['id','name','gender','salary','dep']
da=spark.createDataFrame(dataa,schemaa)
da.show()

da1 = da.select(da.id,\
                da.name,\
                when(da.gender=='M','male')\
                .when(da.gender=='F','female')\
                .otherwise('unknown')\
                .alias('gender'))
da1.display()

In [0]:
# asc desc
da.sort(da.salary.desc()).show()
cl = [(1,'maheer','M','2000','dev'),(2,'srjan','M','3000','IT')]
d1=spark.createDataFrame(cl,schemaa)
d1.show()

# cast
d2 = d1.select(d1.id,d1.name,d1.salary.cast('int'))
d2.printSchema()


# like
da.filter(da.name.like('_a%')).show()

In [0]:
da.distinct().show()

da.dropDuplicates(['name']).show()

In [0]:
# da.sort(da.salary.asc()).show()

da.orderBy(da.salary.desc()).show()

In [0]:
dataa = [(1,'maheer','M',2000,'dev'),(2,'srjan','M',3000,'IT'),(3,'maheer','F',4000,'HR'),(3,'maheer','T',4000,'Admin'),(4,'kalyan','M',4000,'HR')]
schemaa = ['id','name','gender','salary','dep']

dataa2 = [(1,'mahe','M',2000,'dev'),(2,'sran','M',3000,'IT'),(3,'mahe','F',4000,'HR'),(3,'maheer','T',4000,'Admin'),(4,'kaan','M',4000,'HR')]
schemaa2 = ['id','name','gender','salary','dep']

df11=spark.createDataFrame(dataa,schemaa)
df12=spark.createDataFrame(dataa2,schemaa2)

# df11.show()
# da1.show()
df11.union(df11).show()
newd=df11.unionAll(df11)
newd.distinct().show()

In [0]:
data = [(1,'rafi','M',500000,'IT'),\
       (2,'ref','M',700000,'HR'),\
       (3,'uddin','M',600000,'IT'),\
       (4,'md','M',900000,'IT')]
schema = ['id','name','gender','salary','dep']

df= spark.createDataFrame(data,schema)
df.show()
df.groupBy('dep').count().show()

+---+-----+------+------+---+
| id| name|gender|salary|dep|
+---+-----+------+------+---+
|  1| rafi|     M|500000| IT|
|  2|  ref|     M|700000| HR|
|  3|uddin|     M|600000| IT|
|  4|   md|     M|900000| IT|
+---+-----+------+------+---+

+---+-----+
|dep|count|
+---+-----+
| IT|    3|
| HR|    1|
+---+-----+

In [0]:
help(df.groupBy)

Help on method groupBy in module pyspark.sql.dataframe:

groupBy(*cols: 'ColumnOrName') -> 'GroupedData' method of pyspark.sql.dataframe.DataFrame instance
    Groups the :class:`DataFrame` using the specified columns,
    so we can run aggregation on them. See :class:`GroupedData`
    for all the available aggregate functions.

    :func:`groupby` is an alias for :func:`groupBy`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    cols : list, str or :class:`Column`
        columns to group by.
        Each element should be a column name (string) or an expression (:class:`Column`)
        or list of them.

    Returns
    -------
    :class:`GroupedData`
        Grouped data by given columns.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (2, "Bob"), (2, "Bob"), (5, "Bob")], schema=["age", "name"])

    Empty grouping columns triggers a global aggregation.

    >>> df.groupBy().avg().show()
    +--------+
    |avg(age)|
    +--------+
    |    2.75|
    +--------+

    Group-by 'name', and specify a dictionary to calculate the summation of 'age'.

    >>> df.groupBy("name").agg({"age": "sum"}).sort("name").show()
    +-----+--------+
    | name|sum(age)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       9|
    +-----+--------+

    Group-by 'name', and calculate maximum values.

    >>> df.groupBy(df.name).max().sort("name").show()
    +-----+--------+
    | name|max(age)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       5|
    +-----+--------+

    Group-by 'name' and 'age', and calculate the number of rows in each group.

    >>> df.groupBy(["name", df.age]).count().sort("name", "age").show()
    +-----+---+-----+
    | name|age|count|
    +-----+---+-----+
    |Alice|  2|    1|
    |  Bob|  2|    2|
    |  Bob|  5|    1|
    +-----+---+-----+

In [0]:
unionByName

In [0]:
df.select(['id','name',]).show()
df.select('*').show

In [0]:
data = [(1,'rafi','M',500000,'1'),\
       (2,'ref','M',700000,'2'),\
       (3,'uddin','M',600000,'1'),\
       (4,'md','M',900000,'1')]
schema = ['id','name','gender','salary','dep']
data2 = [(1,'IT'),\
       (2,'HR'),(3,'payroll')]
schema2 = ['dep_id','name']
emp =spark.createDataFrame(data,schema)
dep=spark.createDataFrame(data2,schema2)
# emp.show()
# dep.show()


# emp.join(dep,emp.dep==dep.dep_id,'inner').show()
# emp.join(dep,emp.dep==dep.dep_id,'right').show()
emp.join(dep,emp.dep==dep.dep_id,'semi').show()

+---+-----+------+------+---+
| id| name|gender|salary|dep|
+---+-----+------+------+---+
|  1| rafi|     M|500000|  1|
|  3|uddin|     M|600000|  1|
|  4|   md|     M|900000|  1|
|  2|  ref|     M|700000|  2|
+---+-----+------+------+---+

In [0]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:

empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"outer") \
    .show(truncate=False)
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"full") \
    .show(truncate=False)
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"fullouter") \
    .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
data = [("Banana",1000,"USA"), ("Carrots",1500,"USA"), ("Beans",1600,"USA"), \
      ("Orange",2000,"USA"),("Orange",2000,"USA"),("Banana",400,"China"), \
      ("Carrots",1200,"China"),("Beans",1500,"China"),("Orange",4000,"China"), \
      ("Banana",2000,"Canada"),("Carrots",2000,"Canada"),("Beans",2000,"Mexico")]

columns= ["Product","Amount","Country"]
df = spark.createDataFrame(data = data, schema = columns)


pivotDF = df.groupBy("Product").pivot("Country").sum("Amount")
pivotDF.printSchema()
pivotDF.show(truncate=False)


from pyspark.sql.functions import expr
unpivotDF = pivotDF.select('Product',expr("stack(4,'Canada',canada,'China',china,'Mexico',mexico,'USA',Usa)as (Country,Total)")).where("Total is not null")

unpivotDF.show(truncate=False)

root
 |-- Product: string (nullable = true)
 |-- Canada: long (nullable = true)
 |-- China: long (nullable = true)
 |-- Mexico: long (nullable = true)
 |-- USA: long (nullable = true)

+-------+------+-----+------+----+
|Product|Canada|China|Mexico|USA |
+-------+------+-----+------+----+
|Orange |null  |4000 |null  |4000|
|Beans  |null  |1500 |2000  |1600|
|Banana |2000  |400  |null  |1000|
|Carrots|2000  |1200 |null  |1500|
+-------+------+-----+------+----+

+-------+-------+-----+
|Product|Country|Total|
+-------+-------+-----+
|Orange |China  |4000 |
|Orange |USA    |4000 |
|Beans  |China  |1500 |
|Beans  |Mexico |2000 |
|Beans  |USA    |1600 |
|Banana |Canada |2000 |
|Banana |China  |400  |
|Banana |USA    |1000 |
|Carrots|Canada |2000 |
|Carrots|China  |1200 |
|Carrots|USA    |1500 |
+-------+-------+-----+